# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build inputOutput directory
build

# Ignore IDEA folder
.idea

# Ignore gradle wrapper
gradle

# Ignore MacOS folder attribute file
.DS_Store
